.mask{
    width 100vw;
    height 100vh;
    position fixed;
    left 0px;
    top 0px;
    background #87CEFA;
    .box{
        width 350px;
        height 350px;
        background #AFEEEE;
        box-shadow 5px 5px 20px #00BFFF,-5px -5px 20px #00BFFF;
        border-radius 50%;
        position absolute;
        left 0;
        top 0px;
        right 0;
        bottom 0px;
        margin auto;
        h1{
            font-size 56px;
            color #1E90FF;
            margin-top 50px;
            font-family '楷体'
        }
    }
}